/* Add a black background color to the top navigation */
.topnav {
	font-family: 'WaltographRegular'; 
  font-weight: normal; 
  font-style: normal;  
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 26px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  transform: scale(1.5)
}

/* Add a color to the active/current link */
.topnav .active {
  background-color: #4CAF50;
  color: white;
}


/* Sets column width and height */
.column {
float: left;
width: 25%;

}


.column img{
height: auto;
width: 100%;
}

/* Clears floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/*Sets body background */
body {
  background-image: url(paper.png);
}

h1 {
  color: #ffffff;
  margin-left: 20px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
  transform: scale(1.5); 
}



.button:active {
  background-color: #3e8e41;
  box-shadow: 5 10px #555;
  transform: translateY(4px);
}

    #dock-container {
        position: fixed;
        bottom: 0;
        text-align: center;
        right: 20%;
        left: 20%;
        width: 60%;
        background: rgba(255,255,255,0.2);
        border-radius: 10px 10px 0 0;
    }
    #dock-container li {
        list-style-type: none;
        display: inline-block;
        position: relative;
    }
    
    #dock-container li img {
        width: 64px;
        height: 64px;
        -webkit-box-reflect: below 2px
            -webkit-gradient(linear, left top, left bottom, from(transparent),
            color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
        -webkit-transition: all 0.3s;
        -webkit-transform-origin: 50% 100%;
    }
    
    #dock-container li:hover img { 
        -webkit-transform: scale(2);
        margin: 0 2em;
    }
    
    #dock-container li:hover + li img,
    #dock-container .prev img {
        -webkit-transform: scale(1.5);
        margin: 0 1.5em;
    }
    
    #dock-container li span {
        display: none;
        position: absolute;
        bottom: 140px;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.75);
        padding: 4px 0;
        border-radius: 12px;
    }
    #dock-container li:hover span {
        display: block;
        color: #fff;
    }
    

#rcorners {
  border-radius: 25px;
  background: url(paper.png);
  background-position: center middle;
  background-repeat: repeat;
  padding: 20px; 
  width: 600px;
  height: 400px; 
}